#countdown {
    font-size: 4rem; /* Font size bada kar diya */
    margin-top: 20px;
    color: #FFC107;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px #ff9800, 0 0 20px #ffca28;
    transform: perspective(500px) rotateX(10deg); /* 3D effect */
    animation: countdownAnimation 1s ease-in-out infinite alternate; /* Animation */
    text-align: center; /* Center align */
}

@keyframes countdownAnimation {
    from {
        transform: perspective(500px) rotateX(0deg) scale(1);
    }
    to {
        transform: perspective(500px) rotateX(10deg) scale(1.1);
    }
}

.container {
    text-align: center;
}
